<div id="accordion">
  <div class="col-md-12">
    <div class="card shadow">
      <div class="card-header bg-transparent border-0 p-0">
        <button
          class="btn btn-link collapsed text-dark"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <h3>Add Blog</h3>
        </button>
      </div>
    </div>
    <div
      id="collapseOne"
      class="collapse bg-white show"
      aria-labelledby="headingOne"
      data-parent="#accordion"
    >
      <div class="card-body mt-2">
        <form method="post" #addBlog="ngForm" (ngSubmit)="onSubmit(addBlog)">
          <div class="form-group row">
            <div class="col-md-4 mb-3">
              <label for="title" class="text-md-left">Title</label>
              <input
                ngModel
                required
                id="title"
                type="text"
                class="form-control"
                name="title"
                autocomplete="off"
                autofocus
              />
            </div>
            <div class="col-md-4 mb-3">
              <label for="excerpt" class="text-md-left">Excerpt</label>
              <input
                ngModel
                required
                id="excerpt"
                type="text"
                class="form-control"
                name="excerpt"
                autocomplete="off"
                autofocus
              />
            </div>
            <div class="col-md-4 mb-3">
              <label for="thumbnail" class="text-md-left">Thumbnail</label>
              <input
                ngModel
                required
                id="thumbnail"
                type="file"
                class="form-control"
                name="thumbnail"
                autocomplete="off"
                autofocus
              />
            </div>
            <div class="col-md-4 mb-3">
              <label for="body" class="text-md-left">Body</label>
              <input
                ngModel
                required
                id="body"
                type="text"
                class="form-control"
                name="body"
                autocomplete="off"
                autofocus
              />
            </div>
          </div>
          <div class="form-group text-right">
            <button class="btn btn-success" type="submit">Add New Blog</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
