<div class="col-12">
  <div id="accordion">
    <div class="card" *ngIf="blog; else loader">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <a class="btn btn-secondary" routerLink="/blogs">
            <i class="fa fa-arrow-circle-left"></i>
          </a>
          <button
            class="btn btn-link text-dark"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <h3>
              <strong class="text-warning">{{ blog.title }} </strong>
            </h3>
          </button>
        </h5>
      </div>
      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <div class="card-body">
          <form #blogUpdate="ngForm" (ngSubmit)="updateBlog(blogUpdate)">
            <div class="form-group row">
              <div class="col-md-4 mb-3">
                <label for="title" class="text-md-left">Title</label>
                <input
                  id="title"
                  type="text"
                  [(ngModel)]="blog.title"
                  name="title"
                  class="form-control"
                  autocomplete="off"
                  autofocus
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="excerpt" class="text-md-left">Excerpt</label>
                <input
                  id="excerpt"
                  [(ngModel)]="blog.excerpt"
                  type="text"
                  ngModel
                  name="excerpt"
                  class="form-control"
                  name="excerpt"
                  autocomplete="off"
                  autofocus
                />
              </div>
              <div class="col-md-4 mb-3">
                <label for="body" class="text-md-left">Body</label>
                <input
                  [(ngModel)]="blog.body"
                  id="body"
                  type="text"
                  name="body"
                  ngModel
                  class="form-control"
                  autocomplete="off"
                  autofocus
                />
              </div>
            </div>
            <div class="form-group text-right">
              <button class="btn btn-primary" type="submit">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>
